<!-- <p>product-details works!</p> -->





<div class="jumbotron jumbotron-fluid">




    <div class="container">
      <h1 class="display-4">Product Foo-Bar-Laptop</h1>
      <div class="alert alert-success text-right" role="alert"><a routerLink="/go-shopping">Add to Cart>></a></div>
      <img src="https://www.welt.de/img/bildergalerien/mobile190972777/3011620007-ci23x11-w1280/Huawei-Matebook-13-oder-Apple-Macbook-Air-Wer-hat-die-Nase-vorn.jpg" style="object-position: center; width: 100%;">
      <p class="lead">Product details</p>
      <ul class="list-group">
        <li class="list-group-item">Name: foo</li>
        <li class="list-group-item">Id: bar</li>
        <li class="list-group-item">price: 42€</li>
        <li class="list-group-item">weight: 24Kg</li>
      </ul>
      
    </div>
    
</div>