<!-- <p>cart works!</p> -->


<div class="jumbotron jumbotron-fluid">
    <!-- assuming the whole creditcard stuff etc. is already present -->
    <div class="alert alert-success text-right" role="alert">Checkout Your Items>>
        <a routerLink="/checkout">Buy now</a>
    </div>
    <div class="container">
      <h1 class="display-4">Total: 1234€</h1>
      <p class="lead">Items in your cart:</p>
      <ul class="list-group">

          <div class="containter">
                <div class="row">
                  <div class="col-10">
                    <li class="list-group-item">Product0
                    <a class="nav-link disabled" tabindex="-1" aria-disabled="true">qtty: 2</a>
                    <a class="nav-link disabled" tabindex="-1" aria-disabled="true">Single item: 42€ (including 19% tax)</a>
                    <a class="nav-link disabled" tabindex="-1" aria-disabled="true">ProductID: #12345678</a>
                    </li>
                    </div>
                <div class="col-2">
                    <h2>84€</h2>
                </div>
            </div>
        </div>




        <div class="containter">
            <div class="row">
              <div class="col-10">
                <li class="list-group-item">Product1
                <a class="nav-link disabled" tabindex="-1" aria-disabled="true">qtty: 2</a>
                <a class="nav-link disabled" tabindex="-1" aria-disabled="true">Single item: 42€ (including 19% tax)</a>
                <a class="nav-link disabled" tabindex="-1" aria-disabled="true">ProductID: #12345678</a>
                </li>
                </div>
            <div class="col-2">
                <h2>84€</h2>
            </div>
        </div>
    </div>


    <div class="containter">
        <div class="row">
          <div class="col-10">
            <li class="list-group-item">Product2
            <a class="nav-link disabled" tabindex="-1" aria-disabled="true">qtty: 2</a>
            <a class="nav-link disabled" tabindex="-1" aria-disabled="true">Single item: 42€ (including 19% tax)</a>
            <a class="nav-link disabled" tabindex="-1" aria-disabled="true">ProductID: #12345678</a>
            </li>
            </div>
        <div class="col-2">
            <h2>84€</h2>
        </div>
    </div>
</div>


      </ul>    
    </div>
</div>