<!-- <p>go-shopping works!</p> -->




<div class="jumbotron jumbotron-fluid">
    <div class="alert alert-warning" role="alert">add to cart is not implemented!</div>
    <div class="container">
      <h1 class="display-4">Browse</h1>
      <p class="lead">See our amazing products!</p>
      <ul class="list-group">
        <li class="list-group-item"><a routerLink="/product-details">Product0</a> <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">out of stock</a></li>
        <li class="list-group-item"><a routerLink="/product-details">Product1</a> <a class="nav-link" href="#">add to cart></a></li>
        <li class="list-group-item"><a routerLink="/product-details">Product2</a> <a class="nav-link" href="#">add to cart></a></li>
        <li class="list-group-item"><a routerLink="/product-details">Product3</a> <a class="nav-link" href="#">add to cart></a></li>
        <li class="list-group-item"><a routerLink="/product-details">Product4</a> <a class="nav-link" href="#">add to cart></a></li>
      </ul>
    </div>
</div>